/*
 * FONTS 
================================================================================ */
@font-face {
    font-family: 'caxo';
    
    src: url('../src/assets/fonts/caxo.eot');
    src: url('../src/assets/fonts/caxo.ttf') format("ttf"),
    url('../src/assets/fonts/caxo.woff') format("woff"),
    url('../src/assets/fonts/caxo.woff2') format("woff2");
    
    font-weight: 100 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    
}

@font-face {
    font-family: 'nalieta';
    
    src: url('../src/assets/fonts/nalieta.eot');
    src: url('../src/assets/fonts/nalieta.ttf') format("ttf"),
    url('../src/assets/fonts/nalieta.woff') format("woff"),
    url('../src/assets/fonts/nalieta.woff2') format("woff2");
    
    font-weight: 100 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    
}

#root {
    background: linear-gradient(turquoise, rgb(75, 144, 255));
  }

#main-title{
    font-family: caxo;
    margin-top: 2.5vh;
    margin-left: 3.1%;
    position: fixed;
    letter-spacing: 15.5px;
    color: white;
}

#secondary-title{
    font-family: nalieta;
    margin-top: 6.5vh;
    margin-left: 3%;
    position: fixed;
    letter-spacing: 4.8px;
    color: white;
    opacity: 0.7;
}


/*---------------------------------------------------*/
/*	WAXON CURSOR
/*---------------------------------------------------*/

@media only screen and (min-width: 992px) {

	.mouse-cursor{
		position: fixed;
		left: 0;
		top: 0;
		pointer-events: none;
		border-radius: 50%;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		visibility: hidden;
	}
	.cursor-inner {
		margin-left: -0.3vh;
		margin-top: -0.3vh;
		width: 0.6vh;
		height: 0.6vh;
		z-index: 10000001;
		background-color: #FFF;
		-webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
		transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
	}
	.cursor-inner.cursor-hover {
		margin-left: -4vh;
		margin-top: -4vh;
		width: 8vh;
		height: 8vh;
		background-color: #FFF;
		opacity: .3;
	}
	.cursor-outer {
		margin-left: -1.5vh;
		margin-top: -1.5vh;
		width: 3vh;
		height: 3vh;
		border: 0.2vh solid #FFF;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		z-index: 10000000;
		opacity: .5;
		-webkit-transition: all .08s ease-out;
		transition: all .08s ease-out;
	}

	.cursor-outer.cursor-hover{
		opacity: 0;
	}
	.waxon_tm_all_wrap[data-magic-cursor="hide"] .mouse-cursor{
		display: none;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: -1111;
	}
	.waxon_tm_hero .video_demo{
		position: absolute;
		width: 100%;
		height:100%;
	}
	.waxon_tm_hero .video_demo video{
		object-fit: cover;
		max-width: 100%;
		height: 100%;
	}
	
	
	.waxon_tm_hero .particle_wrapper{
		position: relative;
		float: left;
		width: 100%;
		height: 100%;
	}
	#particles-js {
		width: 100%;
		height: 100%;
			position: absolute;
			z-index: 2;
	}
	
	.waxon_tm_hero .glitch_wrap{
		position: relative;
		width: 100%;
		height:100%;
		float: left;
		overflow: hidden;
	}
	.glitch{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url("..//img/slider/2.jpg");
		background-size: cover;
		-webkit-background-size: cover;
		background-position: center;
		z-index: -1 !important;
		opacity: 1;
		transform: scale(1);
	}
	.glitch:before{
		content: "";
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
	
	.waxon_tm_hero .video_demo{
		position: absolute;
		width: 100%;
		height:100%;
		float: left;
	}
	.waxon_tm_hero .video_demo video{
		object-fit: cover;
		max-width: 100%;
		height: 100%;
	}
	.fn_cs_personal_slider{
		width: 100%;
		height: 100%;
		clear: both;
		float: left;
	}
	.fn_cs_personal_slider .main_image{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.fn_cs_personal_slider .swiper-container{
		overflow: hidden;
		height: 100%;
	}
	.fn_cs_personal_slider .swiper-slide{
		overflow: hidden;
	}
}

  a:hover{
    cursor: none !important;
  }

  
/** 
 * ===================================================================
 * 04. preloader - (_preloader-1.scss)
 *
 * ------------------------------------------------------------------- 
 */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000000;
	z-index: 800;
	height: 100%;
	width: 100%;
}

.no-js #preloader, .oldie #preloader {
	display: none;
}
#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 6vh;
	height: 6vh;
	margin: -3vh 0 0 -3vh;
	padding: 0;
}

#loader .faviconPreloader-min {
	animation: load 1.5s infinite linear;
	animation-direction: alternate-reverse;
	position: fixed;
	left: 49.5% !important;
	top: 48% !important;
	max-width: 8%;
	max-height: 8%;
	right: auto;
	bottom: auto;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version */
}

#loader .faviconPreloader {
	animation: load 1.5s infinite linear;
	animation-direction: alternate;
	position: fixed;
	left: 45.5% !important;
	top: 43% !important;
	max-width: 10%;
	max-height: 10%;
	right: auto;
	bottom: auto;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version */
}

#play-button {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100% !important;
	width: 100% !important;
	background-color: rgb(26, 26, 26);
	z-index: 780;
	  
	-webkit-transition: .2s all ease;
	-o-transition: .2s all ease;
	transition: .2s all ease;
	-webkit-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s; 

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version */
}
#play-button.loaded {
    opacity: 0;
    visibility: hidden;
}

#play-button:before,
#play-button:after{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: rgb(0, 0, 0);
	
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease;
}
#play-button:before{
    top: 0;
    left: 0; 
}
#play-button:after{
    bottom: 0;
	left: 0; 
}
#play-button.loaded:before, 
#play-button.loaded:after{
	height: 0%;
}

.play-button-button{
	position: fixed;
	top: 45%;
	left: 47.5%;
	max-width: 10%;
	max-height: 10%;
	z-index: 790 !important;

	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.play-button-button:hover ~ .play-button-empty{
	transform: rotate(180deg);
}

.play-button-button:hover{
	transform: rotate(-240deg);
}

.play-button-button.loaded {
    opacity: 0;
    visibility: hidden;
}

.play-button-empty{
	position: fixed;
	top: 45%;
	left: 47.5%;
	max-width: 10%;
	max-height: 10%;
	z-index: 789 !important;
	
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version */
}

.play-button-empty.loaded {
    opacity: 0;
    visibility: hidden;
}

#loader:before {
	/*
	content: "";
	border-top: 1vh solid rgba(255, 255, 255, 0.1);
	border-right: 1vh solid rgba(255, 255, 255, 0.1);
	border-bottom: 1vh solid rgba(255, 255, 255, 0.1);
	border-left: 1vh solid #8400ff;
	border-image-slice: 1;
	border-image-source: linear-gradient(-45deg, rgba(255,208,18,1) 20%, rgba(125,69,188,1) 70%);

	background: linear-gradient(-45deg, rgb(212, 173, 16) 35%, rgba(125,69,188,1) 65%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	color: linear-gradient(-45deg, rgba(255,208,18,1) 0%, rgba(125,69,188,1) 100%);

	-webkit-animation: load 1.1s infinite linear;
	animation: load 1.1s infinite linear;
	display: block;
	border-radius: 50%;
	width: 6vh;
	height: 6vh;
	*/
}
@-webkit-keyframes load {
	0% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load {
	0% {
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
