/*
 * FONTS 
================================================================================ */
@font-face {
    font-family: 'caxo';
    
    src: url('../src/assets/fonts/caxo.eot');
    src: url('../src/assets/fonts/caxo.ttf') format("ttf"),
    url('../src/assets/fonts/caxo.woff') format("woff"),
    url('../src/assets/fonts/caxo.woff2') format("woff2");
    
    font-weight: 100 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    
}

@font-face {
    font-family: 'nalieta';
    
    src: url('../src/assets/fonts/nalieta.eot');
    src: url('../src/assets/fonts/nalieta.ttf') format("ttf"),
    url('../src/assets/fonts/nalieta.woff') format("woff"),
    url('../src/assets/fonts/nalieta.woff2') format("woff2");
    
    font-weight: 100 !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    
}

#root {
    background: linear-gradient(turquoise, rgb(75, 144, 255));
  }

#main-title{
    font-family: caxo;
    margin-top: 2.5vh;
    margin-left: 3.1%;
    position: fixed;
    letter-spacing: 15.5px;
    color: white;
}

#secondary-title{
    font-family: nalieta;
    margin-top: 6.5vh;
    margin-left: 3%;
    position: fixed;
    letter-spacing: 4.8px;
    color: white;
    opacity: 0.7;
}


/*---------------------------------------------------*/
/*	WAXON CURSOR
/*---------------------------------------------------*/

@media only screen and (min-width: 992px) {

	.mouse-cursor{
		position: fixed;
		left: 0;
		top: 0;
		pointer-events: none;
		border-radius: 50%;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		visibility: hidden;
	}
	.cursor-inner {
		margin-left: -0.3vh;
		margin-top: -0.3vh;
		width: 0.6vh;
		height: 0.6vh;
		z-index: 10000001;
		background-color: #FFF;
		-webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
		transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
	}
	.cursor-inner.cursor-hover {
		margin-left: -4vh;
		margin-top: -4vh;
		width: 8vh;
		height: 8vh;
		background-color: #FFF;
		opacity: .3;
	}
	.cursor-outer {
		margin-left: -1.5vh;
		margin-top: -1.5vh;
		width: 3vh;
		height: 3vh;
		border: 0.2vh solid #FFF;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		z-index: 10000000;
		opacity: .5;
		-webkit-transition: all .08s ease-out;
		transition: all .08s ease-out;
	}

	.cursor-outer.cursor-hover{
		opacity: 0;
	}
	.waxon_tm_all_wrap[data-magic-cursor="hide"] .mouse-cursor{
		display: none;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: -1111;
	}
	.waxon_tm_hero .video_demo{
		position: absolute;
		width: 100%;
		height:100%;
	}
	.waxon_tm_hero .video_demo video{
		object-fit: cover;
		max-width: 100%;
		height: 100%;
	}
	
	
	.waxon_tm_hero .particle_wrapper{
		position: relative;
		float: left;
		width: 100%;
		height: 100%;
	}
	#particles-js {
		width: 100%;
		height: 100%;
			position: absolute;
			z-index: 2;
	}
	
	.waxon_tm_hero .glitch_wrap{
		position: relative;
		width: 100%;
		height:100%;
		float: left;
		overflow: hidden;
	}
	.glitch{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-image: url("..//img/slider/2.jpg");
		background-size: cover;
		-webkit-background-size: cover;
		background-position: center;
		z-index: -1 !important;
		opacity: 1;
		transform: scale(1);
	}
	.glitch:before{
		content: "";
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
	}
	
	.waxon_tm_hero .video_demo{
		position: absolute;
		width: 100%;
		height:100%;
		float: left;
	}
	.waxon_tm_hero .video_demo video{
		object-fit: cover;
		max-width: 100%;
		height: 100%;
	}
	.fn_cs_personal_slider{
		width: 100%;
		height: 100%;
		clear: both;
		float: left;
	}
	.fn_cs_personal_slider .main_image{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.fn_cs_personal_slider .swiper-container{
		overflow: hidden;
		height: 100%;
	}
	.fn_cs_personal_slider .swiper-slide{
		overflow: hidden;
	}
}

  a:hover{
    cursor: none !important;
  }
